<header>
	<div class="contentIn">
		<div id="mobile-head">
			<h1><a href="{{ siteUrl('/') }}"><img src="/candy/public/assets/img/logo_pc.png" alt="Candy Clip"></a></h1>
			<div id="search">
				<a href="{{ siteUrl('recipe') }}" class="pc">検索</a>
				<div id="search-toggle" class="sp">検索</div>
			</div>
			<div id="nav-toggle">
				<div>
					<span></span>
					<span></span>
					<span></span>
				</div>
			</div>
		</div>
		<nav id="header-nav">
			<ul>
				<li><a href="{{ siteUrl('/recipe/create') }}">レシピ投稿</a></li>
				<li><a href="{{ siteUrl('/') }}">ログアウト</a></li>
				<li><a href="{{ siteUrl('/') }}">ユーザー登録</a></li>
			</ul>
		</nav>
	</div>
</header>