<div class="clip-search">
	<div class="contentIn">
		<h2 class="ttl01">お菓子動画を探す<span>Clip Search</span></h2>
		<form action="{{ siteUrl('recipe') }}" method="get" accept-charset="utf-8">
			{% set inputCategory = inputCategory|default('') %}
			<select name="category" id="">
				<option value="">カテゴリ</option>
				{% for category in categories %}
				{% if category.id == inputCategory %}
				<option value="{{ category.id }}" selected>{{ category.name }}</option>
				{% else %}
				<option value="{{ category.id }}">{{ category.name }}</option>
				{% endif %}
				{% endfor %}
			</select>
			{% set inputScene = inputScene|default('') %}
			<select name="scene" id="">
				<option value="">シーン</option>
				{% for scene in scenes %}
				{% if scene.id == inputScene %}
				<option value="{{ scene.id }}" selected>{{ scene.name }}</option>
				{% else %}
				<option value="{{ scene.id }}">{{ scene.name }}</option>
				{% endif %}
				{% endfor %}
			</select>
			<input type="text" value="{{ inputKeyword }}" placeholder="フリーワード" name="keyword">
			<input type="submit" value="検索">
		</form>
	</div>
</div>