{% extends 'master.twig' %}

{% block body %}
    <div class="contents">
        <article>
            <section>
                <h2 class="ttl02">レシピ入力画面</h2>
                {% include 'include/flashMessage.twig' %}
                <form action="{{ siteUrl('recipe') }}" method="post" enctype="multipart/form-data">
                    <table class="tblStyle01">
                        <tr class="recipeTitle">
                            <th>レシピタイトル（必須）</th>
                            <td>
                                <input type="text" name="title" value="{{ flash.input.title|default('') }}">
                                <p class="errorMessage"> {{ flash.recipe.title|first }}</p>
                            </td>
                        </tr>
                        <tr class="recipeVideo">
                            <th>動画（必須）</th>
                            <td>
                                <input type="file" name="clip" accept="video/*">
                                <p class="errorMessage"> {{ flash.video }}</p>
                            </td>
                        </tr>
                        <tr class="recipeExplain">
                            <th>簡単な説明（必須）</th>
                            <td>
                                <textarea name="explain" rows="3">{{ flash.input.explain|default('') }}</textarea>
                                <p class="errorMessage"> {{ flash.recipe.explain|first }}</p>
                            </td>

                        </tr>
                        <tr>
                            <th>カテゴリ（必須）</th>
                            <td>
                                {% for category in categories %}
                                    {% set selected = false %}
                                    {% for inputCategory in flash.input.category %}
                                        {% if inputCategory == category.id %}
                                            {% set selected = true %}
                                        {% endif %}
                                    {% endfor %}
                                    <input type="checkbox" name="category[]" value="{{ category.id }}" {% if selected %}checked{% endif %} id="tag_{{ category.id }}">
                                    <label for="tag_{{ category.id }}">{{ category.name }}</label>
                                {% endfor %}
                                <p class="errorMessage"> {{ flash.category }}</p>
                            </td>
                        </tr>
                        <tr>
                            <th>シーン（必須）</th>
                            <td>
                                {% for scene in scenes %}
                                    {% set selected = false %}
                                    {% for inputScene in flash.input.scene %}
                                        {% if inputScene == scene.id %}
                                            {% set selected = true %}
                                        {% endif %}
                                    {% endfor %}
                                    <input type="checkbox" name="scene[]" value="{{ scene.id }}" {% if selected %}checked{% endif %} id="tag_{{ scene.id }}">
                                    <label for="tag_{{ scene.id }}">{{ scene.name }}</label>
                                {% endfor %}
                                <p class="errorMessage"> {{ flash.scene }}</p>
                            </td>
                        </tr>
                        <tr class="recipeIngredient">
                            <th>材料（必須）</th>
                            <td>
                                <input type="text" name="servings_for" placeholder="何人分" value="{{ flash.input.servings_for|default('') }}">
                                <p class="errorMessage"> {{ flash.recipe.servings_for|first }}</p>
                                <dl class="ingredientList">
                                    <p class="errorMessage"> {{ flash.ingredientError|default('') }}</p>
                                    {% if flash.ingredients | length > 0 %}
                                        {% for key, ingredient in flash.ingredients %}
                                            <dt><input type="text" name="name[]" value="{{ ingredient.name }}" placeholder="材料"></dt>
                                            <dd><input type="text" name="quantity[]" value="{{ ingredient.quantity }}" placeholder="分量"></dd>
                                            <p class="errorMessage"> {{ flash.ingredientErrors[key]|default('') }}</p>
                                        {% endfor %}
                                    {% else %}
                                        {% for i in 0..3 %}
                                            <dt><input type="text" name="name[]" value="" placeholder="材料"></dt>
                                            <dd><input type="text" name="quantity[]" value="" placeholder="分量"></dd>
                                        {% endfor %}
                                    {% endif %}
                                </dl>
                                <a href="#" class="addIngredient">材料追加</a>
                            </td>
                        </tr>
                        <tr class="recipePoint">
                            <th>コツ</th>
                            <td>
                                <input type="text" name="point" value="{{ flash.input.point|default('') }}">
                                <p class="errorMessage"> {{ flash.recipe.point|first }}</p>
                            </td>
                        </tr>
                        <tr class="recipeMistake">
                            <th>失敗談</th>
                            <td>
                                <input type="text" name="mistake" value="{{ flash.input.mistake|default('') }}">
                                <p class="errorMessage"> {{ flash.recipe.mistake|first }}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="submit" name="登録">
                            </td>
                        </tr>
                    </table>
                    <div class="btmnavi">
                        <ul>
                            <li><a href="">キャンセル</a></li>
                            <li><a href="">保存</a></li>
                        </ul>
                    </div>
                </form>
            </section>
        </article>
    </div>
{% endblock %}