{% extends 'master.twig' %}

{% block body %}
<div class="breadcrumb">
    <ul>
        <li><a href="index.php">TOP</a></li>
        <li><a href="search_result.php">チョコレート</a></li>
        <li><a href="">チョコレートクッキー</a></li>
    </ul>
</div>
<div class="tagList">
    <h2>この動画につけられているタグ：</h2>
    <ul>
        <li><a href="">チョコレート</a></li>
        <li><a href="">簡単</a></li>
        <li><a href="">安い</a></li>
    </ul>
</div>
<div class="contents">
    <article>
        <section>
            <video controls autoplay>
                <source src="/candy/public/video/{{ recipe.member_id }}/{{ recipe.clip }}">
                <p>動画を再生するには、videoタグをサポートしたブラウザが必要です。</p>
            </video>
            <div class="clipInfo">
                <a href="">
                    <div class="userIcon"><img src="img/icon.png" alt=""></div>
                    <span class="userName">{{ user.name }}</span>
                </a>
                <div class="play">
                    <span class="count">{{ recipe.views }}</span>
                    <span>views</span>
                </div>
                <div class="dlBtn">
                    <a href="">
                        <span>レシピを保存</span>
                    </a>
                </div>
                <div class="favoBtn">
                    <a href="">
                        <span>お気に入りに保存</span>
                    </a>
                </div>
                <div class="favoCount">
                    <span>0</span>
                    <span>loves!</span>
                </div>
            </div>
        </section>
        <section class="recipeInfo">
            <h2 class="ttl01"><?= $title ?></h2>
            <div class="description">
                <?= $desc ?>
            </div>
        </section>
        <section class="ingredient">
            <h2 class="ttl02">材料<span>（{{ recipe.servings_for }}）</span></h2>
            <dl>
                {{ ingredient in recipe.ingredients().getResults() }}
                {% for ingredient in recipe.ingredients().getResults() %}
                <dt>{{ ingredient.name }}</dt>
                <dd>{{ ingredient.quantity }}</dd>
                {% endfor %}
                <!-- $i_name $quantity -->
            </dl>
        </section>
        <section class="recipeStep">
        <p>{{ recipe.explain }}</p>
        <section class="recipeStep">
            <h2 class="ttl02">説明</h2>
            <p>{{ recipe.explain }}</p>
        </section><section class="recipeStep">
                <ol>
                    <li>
                        <span class="recipeTxt">バターを室温で柔らかくしておく。(必ず室温です。レンジで溶かすと生地の固さや風味が変わってしまいます)</span>
                        <span class="recipeImg"><img src="img/dummy.jpg" alt=""></span></li>
                    <li>
                        <span class="recipeTxt">室温で柔らかくしておいたバターと砂糖をよく混ぜる。</span>
                        <span class="recipeImg"><img src="img/dummy.jpg" alt=""></span></li>
                    <li>
                        <span class="recipeTxt">10分くらいひたすら混ぜると白くフワフワのホイップのようになり、クッキーが美味しく仕上がります！</span>
                        <span class="recipeImg"><img src="img/dummy.jpg" alt=""></span></li>
                    <li>
                        <span class="recipeTxt">卵を数回にわけて少しずつ加え 混ぜる。</span>
                        <span class="recipeImg"><img src="img/dummy.jpg" alt=""></span></li>
                    <li>
                        <span class="recipeTxt">小麦粉、アーモンドプードルをふるい入れる。</span>
                        <span class="recipeImg"><img src="img/dummy.jpg" alt=""></span></li>
                    <li>
                        <span class="recipeTxt">生地が混ざったらチョコチップを入れる。(違うトッピングでもok)</span>
                        <span class="recipeImg"><img src="img/dummy.jpg" alt=""></span></li>
                    <li>
                        <span class="recipeTxt">焼くと倍くらいに広がるので、間隔をあけてスプーンで天板に落とす。（今回は5cmくらいにしました。）</span>
                        <span class="recipeImg"><img src="img/dummy.jpg" alt=""></span></li>
                    <li>
                        <span class="recipeTxt">180度で15分焼く。(直径8cmくらいの仕上がりです。) 焼き色がついたら完成！</span>
                        <span class="recipeImg"><img src="img/dummy.jpg" alt=""></span></li>
                </ol>
        </section>
        <section class="point">
            <h2 class="ttl02">コツ・ポイント</h2>
            <p>{{ recipe.point }}</p>
        </section>
        <section class="mistake">
            <h2 class="ttl02">あいうえおさんの失敗談</h2>
            <p>{{ recipe.mistake }}</p>
        </section>
        <section class="comment">
            <h2 class="ttl02">感想や質問(5件)</h2>
            <div class="commentList">
                <ul>
                    <li>
                        <a href="mypage.php">
                            <div class="userIcon"><img src="img/icon.png" alt=""></div>
                            <span class="userName">kakiku</span>
                        </a>
                        <a href="" class="reply">返信</a>
                        <p class="comment">
                            <?= $comment ?>
                        </p>
                    </li>
                    <li class="reply">
                        <span class="replyTo">＞＞kakikuさん</span>
                        <a href="mypage.php">
                            <div class="userIcon"><img src="img/icon.png" alt=""></div>
                            <span class="userName">あいうえお</span>
                        </a>
                        <a href="" class="reply">返信</a>
                        <p class="comment">
                            <?= $comment ?>
                        </p>
                    </li><!--
						<li>
							<a href="mypage.php">
								<div class="userIcon"><img src="img/icon.png" alt=""></div>
								<span class="userName">sashisu</span>
							</a>
							<a href="" class="reply">返信</a>
							<p class="comment">
								おいしかったでーーーー～～～～～～～～～～
							</p>
						</li>
						<li>
							<a href="mypage.php">
								<div class="userIcon"><img src="img/icon.png" alt=""></div>
								<span class="userName">tachitsu</span>
							</a>
							<a href="" class="reply">返信</a>
							<p class="comment">
								おいしかったでーーーー～～～～～～～～～～
							</p>
						</li>
						<li>
							<a href="mypage.php">
								<div class="userIcon"><img src="img/icon.png" alt=""></div>
								<span class="userName">naninu</span>
							</a>
							<a href="" class="reply">返信</a>
							<p class="comment">
								おいしかったでーーーー～～～～～～～～～～
							</p>
						</li>
						<li>
							<a href="mypage.php">
								<div class="userIcon"><img src="img/icon.png" alt=""></div>
								<span class="userName">あいうえお</span>
							</a>
							<a href="" class="reply">返信</a>
							<p class="comment">
								おいしかったでーーーー～～～～～～～～～～
							</p>
						</li>-->
                </ul>
            </div>
        </section>

        <!--			<div class="tagList">
                        <h2>この動画につけられているタグ：</h2>
                        <ul>
                            <li><a href="">チョコレート</a></li>
                            <li><a href="">簡単</a></li>
                            <li><a href="">安い</a></li>
                        </ul>
                    </div>
                    <section class="clipList">
                        <h2 class="ttl02">あいうえおさんの他のクリップ</h2>
                        <ul>
                            <li>
                                <a href="recipe.php">
                                    <div class="videoBox">
                                        <video>
                                            <source src="video/sample.mp4">
                                            <p>動画を再生するには、videoタグをサポートしたブラウザが必要です。</p>
                                        </video>
                                        <div class="favoCount">
                                            <span>♡99,999</span>
                                        </div>
                                        <div class="time">
                                            <span>2:10</span>
                                        </div>
                                    </div>
                                    <div class="clipInfo">
                                        <div class="clipTitle">お菓子の作り方</div>
                                        <div class="clipName">
                                            <p class="userIcon"><img src="img/icon.png" alt=""></p>
                                            <span class="userName">あいうえお</span>
                                        </div>
                                        <div class="play">
                                            <span class="count">99,999</span>
                                            <span>views</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="recipe.php">
                                    <div class="videoBox">
                                        <video>
                                            <source src="video/sample.mp4">
                                            <p>動画を再生するには、videoタグをサポートしたブラウザが必要です。</p>
                                        </video>
                                        <div class="favoCount">
                                            <span>♡99,999</span>
                                        </div>
                                        <div class="time">
                                            <span>2:10</span>
                                        </div>
                                    </div>
                                    <div class="clipInfo">
                                        <div class="clipTitle">お菓子の作り方</div>
                                        <div class="clipName">
                                            <p class="userIcon"><img src="img/icon.png" alt=""></p>
                                            <span class="userName">あいうえお</span>
                                        </div>
                                        <div class="play">
                                            <span class="count">99,999</span>
                                            <span>views</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="recipe.php">
                                    <div class="videoBox">
                                        <video>
                                            <source src="video/sample.mp4">
                                            <p>動画を再生するには、videoタグをサポートしたブラウザが必要です。</p>
                                        </video>
                                        <div class="favoCount">
                                            <span>♡99,999</span>
                                        </div>
                                        <div class="time">
                                            <span>2:10</span>
                                        </div>
                                    </div>
                                    <div class="clipInfo">
                                        <div class="clipTitle">お菓子の作り方</div>
                                        <div class="clipName">
                                            <p class="userIcon"><img src="img/icon.png" alt=""></p>
                                            <span class="userName">あいうえお</span>
                                        </div>
                                        <div class="play">
                                            <span class="count">99,999</span>
                                            <span>views</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </section>-->
    </article>
</div>
{% endblock %}